<header class="p-11 w-full bg-white box-border">
  <nav class="w-4/6 m-auto flex justify-around">
    <a class="sm:text-[18px] text-[12px] relative text-[#707070] cursor-pointer before:content-[''] before:absolute before:bottom-0 before:left-0 sm:before:h-[3px] before:h-[1px] before:w-0 before:bg-black hover:before:w-full"
      routerLink="/products">Meus
      Produtos</a>
    <a class="sm:text-[18px] text-[12px] relative text-[#707070] cursor-pointer before:content-[''] before:absolute before:bottom-0 before:left-0 sm:before:h-[3px] before:h-[1px] before:w-0 before:bg-black hover:before:w-full"
      routerLink="/products/novo">Adicionar Produto</a>
  </nav>
</header>

<router-outlet></router-outlet>